body {
	background: #000000 url("background3.jpg");
	background-attachment: fixed; 
	
	background-size: 100%;
	font-family: 'Raleway', sans-serif;
	}     

.header {
	display: block;
	margin: auto;
}

.section {
	margin: auto;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	width: 500px;
	padding: 5px;
	margin-bottom: 10px;
}

.chatBox {
	margin: auto;
	margin-top: 20px;
	width: 450px;
	height: 300px;
	background-color: rgba(255, 255, 255, 0.6);
	border: 2px solid #d392cc;
	border-radius: 5px;
	overflow: auto;
}

.messageBox {
	/*height: 100px;*/
	margin: auto;
	border-radius: 5px;
	overflow: auto;
	padding: 10px;
}

#inputMessage {
	display: inline;
	width: 370px;
	height: 60px;
	font-size: 15px;
	background-color: #ffffff;
	border: 1px solid #d392cc;
	border-radius: 10px;
	overflow: auto;
	resize: none;
	padding-left: 10px;
	
}

#send{
	background-image: url(sendBtn.png);
	display: inline;
	background-color: transparent;
	background-size: 100%;
	height: 60px;
	width: 65px;
	margin-left: 10px;
	border: none;
	color: #d392cc;
	
}

#send:active {
	background-image: url(btnActive.png);
}


#logOutDiv {
	background-color: rgba(0, 0, 0, 0.6);
	width: 450px;
	margin: auto;
	}

#loginText {
	color: white; 
	font-size: 14px;
	text-align: center; 
	float: left;
	color: #946b79;
	font-family: 'Raleway', sans-serif;
}

#logout {
	/*background-color: rgba(255, 255, 255, 0.6);*/
	background: linear-gradient(#ffffff, #d3abb9);
	float: right;
	color: #946b79;
	border: none; 
	width: 100px;
	height: 30px;
	border-radius: 5px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

#logout:active {
	background: linear-gradient(#d3abb9, #ffffff);
}

ol {
	list-style: none;
	padding: 10px;
}

li {
	margin-bottom: 5px;
	padding: 8px;
	font-size: 15px;
	background-color: #ffffff;
	border: 1px solid #d392cc;
	border-radius: 10px;
}

.name {
	font-weight: bold;
}

#inlog{
	margin: auto;
	position: fixed;
	z-index: 1001;
	/*height: 200px;*/
	width: 100%;
	margin-top: 5%;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.2);
	display: block;
	
}

.inlogText {
	text-align: center;
	margin: 0px;
	padding: 0px;
	
	
}

#inputName {
	display: block;
	margin: auto;
	text-align: center; 
	
}

#login {
	display: block;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.8);
	color: #946b79;
	border: none; 
	width: 100px;
	height: 30px;
	border-radius: 5px;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	background: linear-gradient(#ffffff, #d3abb9);

	
}

#login:active {
	background: linear-gradient(#d3abb9, #ffffff);
}

#cover{	
	display: block;
	background-color: rgba(0,0,0,.85);
	width: 100%;
	height: 100%;
	position: fixed; 
	top: 0%;
	left: 0%;
	z-index: 98;
}

/**************SCROLL**************/
::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #d7c1cb;
  border: 1px none #919191;
  border-radius: 41px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 55px none #ffffff;
  border-radius: 5px;
}
::-webkit-scrollbar-track:hover {
  background: #ecadfa;
}
::-webkit-scrollbar-track:active {
  background: #ecaef9;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
